body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background-image: url('ok_headshot.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.portfolio {
    padding: 60px 0;
}

.about,
.contact {
    padding: 40px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Dropdown styling */
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%; /* Adjust the distance from the menu item */
    left: 0; /* Ensure the dropdown starts from the left of the menu item */
    background-color: #000;
    padding: 10px;
    list-style: none;
    width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} 

/* Style for the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
    
}

/* Style for the dropdown menu items */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7b7b7b;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}